body {
    margin: auto;
    padding: 0;
    font-family: sans-serif;
    width: 800px;
}

/* header */

.banner {
    background-color: #FCE4EC;
    height: 70px;
    line-height: 70px;
}

.logo {
    padding: 15px;
}

.menu {
    float: right;
}

.menu a {
    color: #7E57C2;
    margin-right: 20px;
    text-decoration: none;
}

.menu a:hover { 
    color: #263238;
}

/* main */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffff;
}

/* titre */

.title {
    display: flex;
    justify-content: center;
    color: #7E57C2;
    font-size: 2em;
    margin-bottom: 0px;
}

.compl {
    display: flex;
    justify-content: center;
    color: #263238;
    font-size: 1.5em;
    margin-bottom: 0px;
}

/* card */

.container {
    padding: 25px;
}

.container .card {
    position: relative;
    width: 450px;
    height: 380px;
    border: 2px solid #263238;
    overflow: hidden;
}

.card {
    width: 100%;
}

.container .card:after {
    content: '';
    position: absolute;
    top: 30%;
    left: -20%;
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    height: 220px;
    transition: 0.5s;
}

.imgBx > img {
    width: 100%;
    margin-top: -200px;
}

.contentBx {
    background: #263238;
}

.description {
    font-size: 0.9em;
    margin-top: -8px;
}

.contentBx {
    opacity: 0.8;
}

.contentBx h2 {
    margin-top: 30px;
}

.color {
    margin-top: -20px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
}

.container .card:hover .contentBx {
    height: 210px;
}

.produit_name {
    color: #ffffff;
}

.container .card .contentBx .color {
    padding: 8px 20px;
    transition: 0.5s;
    visibility: hidden;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
    color: #ffffff;
}



.container .card .contentBx .color span {
    line-height: 20px;
    font-size: 1.2em;
    display: inline-block;
    color: #ffffff;
    background: #fff;
    padding: 0.4em;
    transition: 0.5s;
    border-radius: 4px;
    background: #7E57C2;
}


.container .card .contentBx .btn {
    display: inline-block;
    padding: 10px 20px;
    background: #FCE4EC;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #263238;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.container .card:hover .contentBx .btn {
    opacity: 1;
    transform: translateY(-3px);
    transition-delay: 0.75s;
}

.foot {
    display: flex;
    align-items: flex-end;
}

/*PRODUIT*/
.colors {
    background: #ffffff;
    color: #263238;
    width: 100px;
}

.commande{
    display: inline-block;
    padding: 10px 20px;
    background: #FCE4EC;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #263238;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.commande:hover {
    opacity: 1;
    transform: translateY(-3px);
    transition-delay: 0.75s;
}

.option {
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #ffffff;
}

.option_A {
    background-color: #7E57C2;
    display: flex;
    justify-content: center;
    padding: 7px;
}

.option_B {
    background-color: #7E57C2;
    padding: 7px;
}

.option_C {
    background-color: #7E57C2;
    padding: 7px;
}

.title_label {
    justify-content: center;
}

#selectColor {
    margin-top: ;
    width: 100px;
}

#selectQte {
    width: 30px;
}

#total {
    margin-top: 25px;
    width: 100px;
}

.buttonCmd {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    width: auto;
    background: #FCE4EC;
    margin-top: -30px;
    margin-bottom: 50px;
    text-decoration: none;
    font-weight: 600;
    color: #263238;
    transform: translateY(50px);
    transition: 0.5s;
}


/*ERROR*/
.msg_error {
    background-color: #263238;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}


/*PANIER*/
.slot_panier {
    width: 400px;
    height: 200px;
    border: 2px solid #263238;
    overflow: hidden;
    display: flex;
}

.illu_panier {
    width: 200px;
    height: 200px;
}

.detail_panier {
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #FCE4EC;
}

.corbeille {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    background-color: #263238;
    color: #ffffff;
    border-radius: 50%;
    padding: 4px;
    right: 25%;
    top: 29.5%;
}

.price_total {
    text-align: center;
    font-size: large;
}

.btn_nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: auto;
    background: #FCE4EC;
    margin-top: -30px;
    margin-bottom: 50px;
    text-decoration: none;
    font-weight: 600;
    color: #263238;
    transform: translateY(50px);
    transition: 0.5s;
}